<div class="container text-center my-5">
    <h1>Organigrama del Ministerio de Salud de Chubut</h1>

    <hr>
    <div class="row text-left">
        <div class="row">
            <h2 class="col-md-12">Subsecretaría de Gestión Institucional</h2>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Gestión de Calidad en Salud</h3>
                <ul class="col-md-12 pl-5">
                    <li>Dirección Provincial de Emergencias Sanitarias</li>
                    <li>Dirección Provincial de Fiscalización y Matriculación</li>
                    <li>Dirección Provincial de Recurso Físico en Salud</li>
                    <li>Dirección Provincial de Auditoría y Control de Calidad</li>
                    <li>Dirección Provincial de Regulación de Políticas Sanitarias</li>
                    <li>Dirección Provincial de Farmacia</li>
                </ul>
            </div>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Auditoría, Prestaciones y Salud Ocupacional</h3>
                <ul class="col-md-12 pl-5">
                    <li>Dirección Provincial de Salud Ocupacionals</li>
                    <li>Dirección Provincial de Prestaciones Asistenciales</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="col-md-12">Subsecretaría de Programas de Salud</h2>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Coordinación de Programas de Salud</h3>
                <ul class="col-md-12 pl-5">
                    <li>Dirección Provincial de Promoción y Prevención de la Salud</li>
                    <li>Dirección Provincial de Maternidad e Infancia y Adolescencia</li>
                    <li>Dirección Provincial de Patologías Prevalentes y Epidemiología</li>
                    <li>Dirección Provincial de Salud Ambiental</li>
                </ul>
            </div>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Prevención y Atención Sanitaria de Problemáticas Psicosociales y Discapacidad </h3>
                <ul class="col-md-12 pl-5">
                    <li>Dirección Provincial de Atención Integral de la Discapacidad</li>
                    <li>Dirección Provincial de Prevención y Asistencia de las Adicciones</li>
                    <li>Dirección Provincial de Salud Mental Comunitaria</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="col-md-12">Subsecretaría de Planificación y Capacitación</h2>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Recursos Humanos</h3>
                <ul class="col-md-12 pl-5">
                    <li>Dirección Provincial de Estadísticas e Información en Salud</li>
                    <li>Dirección Provincial de Enfermería</li>
                    <li>Dirección Provincial de Formación y Capacitación de Recursos Humanos</li>
                    <li>Dirección Provincial de Planificación de Recursos Humanos</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h2 class="col-md-12">Subsecretaría de Gestión y Coordinación de Recursos</h2>
            <div class="pl-5">
                <h3 class="col-md-12">Dirección General de Economía y Administración</h3>
                <h3 class="col-md-12">Dirección General de Auditoría y Control </h3>
            </div>
        </div>
        <div class="row">
            <h2 class="col-md-12">Áreas Programáticas</h2>
            <ul class="col-md-12 pl-5">
                <li>Dirección Provincial Área Programática Trelew</li>
                <li>Dirección Provincial Área Programática Norte</li>
                <li>Dirección Provincial Área Programática Esquel</li>
                <li>Dirección Provincial Área Programática Comodoro Rivadavia</li>
            </ul>
        </div>
    </div>
</div>