<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vaccination_scheme.name %>
</p>

<%= link_to 'Edit', edit_vaccination_scheme_path(@vaccination_scheme) %> |
<%= link_to 'Back', vaccination_schemes_path %>
