<div class="container my-5">
    <h1 class="text-center my-5">Convocatoria de médicos para zona rural </h1>
        
        

    <div class="row text-justify px-3">
        <p>
            El Ministerio de Salud de la Provincia del Chubut convoca a profesionales médicos para cubrir puestos en Hospitales Rurales de la cordillera y 
            el Hospital Rural Sarmiento.
        </p>
        <p>
            Los profesionales interesados deberán enviar su CV a la Dirección Provincial Planificación de Recursos Humanos, 
            <strong>seleccionsalud@chubut.gov.ar</strong> o comunicarse al teléfono <strong>0280-4484125, interno 158</strong>, de 
            lunes a viernes de 8:00 a 14:00 hs.
        </p>
    </div>
</div>