<div class="container">
    <h1 class="text-center my-5">
        Autoridades
    </h1>

    <div class="card my-5 text-center">
        <div class="card-body">
            <div class="row justify-content-around my-4">
                <div class="card" style="width: 18rem;">
                    <%= image_tag "ministro-salud.jpg", class:"img-fluid nav-logo" %>
                    <div class="card-body">
                        <h5 class="card-title">Ministro de Salud</h5>
                        <p class="card-text">Dr. Fabián Puratich</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around my-4">
                <div class="card" style="width: 18rem;">
                    <%= image_tag "sub-gestion-institucional.jpg", class:"img-fluid nav-logo" %>
                    <div class="card-body">
                        <h5 class="card-title">Subsecretaria de Planificación y Capacitación</h5>
                        <p class="card-text">Dra. Laura Pizzi</p>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <%= image_tag "sub-programa-salud.jpg", class:"img-fluid nav-logo" %>
                    <div class="card-body">
                        <h5 class="card-title">Subsecretaria de Programas de Salud</h5>
                        <p class="card-text">Lic. Valeria Nazar</p>
                    </div>
                </div>
                
                <div class="card" style="width: 18rem;">
                    <%= image_tag "sub-gestion-coord-recursos.jpg", class:"img-fluid nav-logo" %>
                    <div class="card-body">
                        <h5 class="card-title">Subsecretaria de Gestión y Coordinación de Recursos</h5>
                        <p class="card-text">Cra. Viviana Youglar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>