<div class="container my-5">

    <h1 class="text-center mb-5">Certificado Único de Discapacidad (CUD)</h1>

    <div class="col-md-12">
        <div class="row justify-content-md-center">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <a href="/prestadores" target = "_blank"class="panel panel-default">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="mb-0">Registro de Prestadores</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <h2>Como obtener el certificado</h2>
    <p>El CUD es un documento que certifica la discapacidad de la persona y le permite acceder a derechos y prestaciones que brinda el Estado.</p>
    <div class="row text-justify">
        <div class="alert alert-danger cud-border text-dark my-4">
            Se prorrogan por un año más los certificados de discapacidad. <strong>Resolución 1116/2020</strong> Se dispuso la prórroga por un año del 
            vencimiento de aquellos CUD que se encuentren próximos a vencer durante los primeros 6 meses del año 2022. <strong>Resolución 1919/2021</strong>
        </div>

        <p class="my-2">
            El CUD es un documento público válido en todo el país que permite ejercer los derechos y acceder a las prestaciones previstas en las leyes 
            nacionales <strong>22431</strong> y <strong>24901</strong>. La evaluación es realizada por una Junta Evaluadora interdisciplinaria que 
            determina si corresponde la emisión del Certificado Único de Discapacidad. Su tramitación es voluntaria y gratuita.
        </p>
        <h4 class="mt-4">Derechos establecidos en la legislación vigente:</h4>
        <ul>
            <li><strong>Salud:</strong> cobertura del 100% en las prestaciones de rehabilitación (medicamentos, equipamiento, tratamientos) que requiera en relación a lo que fue certificado como discapacidad.</li>
            <li><strong>Transporte:</strong> traslados gratuitos en el transporte público terrestre.</li>
            <li><strong>Asignaciones familiares:</strong> ayuda escolar anual por hijo con discapacidad, asignación familiar por hijo con discapacidad, asignación por conyugue con discapacidad.</li>
            <li><strong>Otros trámites:</strong> exención de pago de peajes, impuestos (municipales, patentes, entre otros). En estos casos la exención debe solicitarse ante la autoridad de aplicación de cada normativa.</li>
            <li><strong>Símbolo Internacional de acceso:</strong> libre estacionamiento, en los lugares permitidos, independientemente del vehículo en el que te traslades.</li>
        </ul>

        <div class="alert alert-info-cud text-dark mt-5">
            Si tenés un Certificado Único de Discapacidad podés encontrar el formato digital del mismo en la aplicación <strong>Mi Argentina</strong> 
            Dicho formato coexistirá con el documento en soporte papel, que continuarán entregando todas las Juntas Evaluadoras de Discapacidad del país.
            El CUD digital será generado automáticamente para aquellas personas mayores de 13 años, con CUD, que posean un perfil digital del ciudadano 
            en <strong>Mi Argentina</strong> y hayan validado su identidad.
        </div>

        <div class="row p-5">
            <div class="info-cud my-3">
                <div class="row">
                    <i class="fa fa-user fa-2x icon-primary"></i><h2>&nbsp ¿A quién está dirigido?</h2>
                </div>
                <p>
                    A personas que deseen acceder a una evaluación por una junta interdisciplinaria a efectos de determinar la existencia de alguna discapacidad.
                </p>
            </div>
            <div class="info-cud my-3">
                <div class="row">
                    <i class="fa fa-list-ul fa-2x icon-primary"></i></i><h2>&nbsp ¿Qué necesito?</h2>
                </div>
                <p><i class="fa fa-check fa-2x icon-primary"></i> Respondé las preguntas de la <strong> consulta personalizada para saber qué documentación llevar y a dónde ir para que te den un turno. </strong></p>
            </div>
            <div class="info-cud my-3">
                <div class="row">
                    <i class="fa fa-list-ol fa-2x icon-primary"></i><h2>&nbsp ¿Cómo hago?</h2>
                </div>
                <ol>
                    <li>Reuní la documentación necesaria con el equipo de salud que te trata (certificados médicos, informes, planillas, estudios complementarios).</li>
                    <li>Con la documentación reunida acercate al lugar que te asignaron en la consulta personalizada y pedí un turno para la Junta Evaluadora.</li>
                    <li>Recordá anotar y asistir el día asignado a la evaluación de la Junta.</li>
                    <li>El Certificado Único de Discapacidad o la denegatoria lo puede retirar cualquier persona mayor de 18 años con tu documento original en el lugar donde te evaluaron, en la fecha que te indiquen.</li>
                </ol>
            </div>
            <div class="info-cud my-3">
                <div class="row">
                    <i class="fa fa-dollar fa-2x icon-primary"></i><h2>&nbsp ¿Cuál es el costo del trámite?</h2>
                </div>
                <p>
                    Gratuito
                </p>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="alert cud-border text-dark my-4 p-4">
                Podés realizar consultas en las Juntas Evaluadoras de Discapacidad Chubut 
                <table class="table table-sm table-border table-striped my-3">
                    <thead class="table-dark text-center">
                        <th>JUNTA</th>
                        <th>DIRECCIÓN</th>
                        <th>TELÉFONO</th>
                        <th>EMAIL</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Central</td>
                            <td>Moreno 555 Rawson Chubut</td>
                            <td>280-4728964</td>
                            <td>
                                <i class="fa fa-envelope icon-primary"></i>discapacidadsalud@hotmail.com 
                                <br>
                                <i class="fa fa-envelope icon-primary"></i>juntaevaluadoracentral@hotmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Rawson</td>
                            <td>Hospital Subzonal Rawson. Roca 555 Rawson Chubut</td>
                            <td>280-4481260 <br>int 217</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadorarw@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad  Trelew</td>
                            <td>Hospital Zonal Trelew San Martin 518 Trelew, Chubut</td>
                            <td>280-4427670 </td>
                            <td><i class="fa fa-envelope icon-primary"></i>junta_discapacidad_trelew@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Puerto Madryn</td>
                            <td>Hospital Zonal Puerto Madryn Roberto Gómez 383, U9120 Puerto Madryn, Chubut</td>
                            <td>280-4453030 <br>int. 1212</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadoramadryn@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Gaiman</td>
                            <td>Hospital Rural Gaiman calle Belgrano, Gaiman, Chubut</td>
                            <td>280-4491002</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadoragaiman@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Sarmiento</td>
                            <td>Hospital Rural Sarmiento Av. Ingeniero Cnel. 307, U9020 Sarmiento Chubut</td>
                            <td>0297-4893177</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadorasarmiento@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Comodoro Rivadavia</td>
                            <td>Hospital Regional Comodoro Rivadavia Av. Hipólito Yrigoyen 1050, U9003 Comodoro Rivadavia, Chubu</td>
                            <td>0297-4473563</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntacomodoro@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Esquel</td>
                            <td>Hospital Zonal Esquel 25 de Mayo 150, Esquel, Chubut</td>
                            <td>2945-457064</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntahze@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Trevelin</td>
                            <td>Hospital Rural Trevelin Av. San Martín 995, Trevelin, Chubut</td>
                            <td>2945-480132 <br>int 136</td>
                            <td><i class="fa fa-envelope icon-primary"></i>rehabilitaciontrevelin@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad Lago Puelo</td>
                            <td>Hospital Rural Lago Puelo Av. 2 de Abril, Casa 1, Lago Puelo, Chubut</td>
                            <td>294-4499290 <br>int 126</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadoralagopuelo@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>Junta Evaluadora de Discapacidad  El Maitén</td>
                            <td>Hospital Subzonal El Maitén</td>
                            <td>2945-495004</td>
                            <td><i class="fa fa-envelope icon-primary"></i>juntaevaluadoraelmaiten@hotmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>