<div class="container">
    <h1 class="text-center my-5">
        Hidratación adecuada y consumo de agua segura
    </h1>

    <div class="text-justify px-8 my-5">
        <p>
            El agua segura es aquella que por su condición y tratamiento no contiene gérmenes ni sustancias tóxicas que puedan afectar la 
            salud de las personas.
        </p>
        
        <p>
            El uso de agua segura te ayuda a prevenir <strong>enfermedades diarreicas</strong> y el <strong>síndrome urémico hemolítico</strong>.
        </p>
        
        <h2>
            Usá el agua segura para:
        </h2>
        <ul>
            <li>Beber</li>
            <li>Hacer hielo</li>
            <li>Lavar alimentos</li>
            <li>Hacer infusiones</li>
            <li>Lavarse los dientes</li>
            <li>Cocinar</li>
        </ul>      
        
        <h2>¿Cómo trato el agua no segura?</h2>
        
        <p>
            Además del agua potable suministrada por la red (agua corriente, podés convertir en agua segura aquella que proviene de otras fuentes 
            (pozo, aljibe, cisterna, etc.). En ese caso, como la contaminación del agua no siempre se nota a simple vista o por el sabor, es necesario 
            que tomes ciertas medidas para cerciorarte que el agua es segura: <strong>colocá 2 gotas de lavandina por cada litro de agua, y dejala reposar 
            30 minutos antes de consumirla.</strong>
        </p>
        
        <h2>¿Cómo almaceno el agua segura?</h2>
        <ul>
            <li>
                Guardá el agua en bidones limpios y con tapa, preferentemente de plástico, que tengan un pico o boca que permita sacar el agua 
                sin meter recipientes o vasijas que la puedan contaminar.
            </li>
            <li>
                Los depósitos de almacenamiento deben estar en lugares donde el agua no pueda ser alterada, lejos del contacto del suelo y fuera 
                del alcance de animales.
            </li>
            <li>Al vaciarse totalmente, desinfectá los depósitos con lavandina y luego enjuagalos con agua potable antes de llenarlos otra vez.</li>
            <li>Limpiá el recipiente y cambiá el agua regularmente.</li>
        </ul>
        
        <h2>Consejos para no desperdiciarla</h2>
        
        <p>
            El agua segura es un bien escaso, y por lo tanto debemos cuidarla entre todos. Por eso, tené en cuenta los siguientes tips para 
            aprovecharla de la mejor manera y no desperdiciarla:
        </p>
        <ul>
            <li>No dejes canillas abiertas, goteando, o con pérdidas sin reparar.</li>
            <li>No te olvides la manguera abierta mientras regás, o cuando barrés el patio o la vereda. Un baldazo antes y otro después son suficientes.</li>
            <li>Cuidá el agua cuando te higienizás (baño, lavado de cabeza, lavado de manos).</li>
            <li>Regá durante las horas de menos calor: al reducirse la evaporación necesita menos agua.</li>
            <li>Reutilizá el agua que no es para consumo: por ejemplo, el agua del termo que ya se enfrió, puede servir para pasar un trapo de piso o un lampazo.</li>
            <li>Usá la cantidad justa de detergente y jabón en polvo: de esta manera no será necesario mucho enjuague y contaminás menos.</li>
            <li>Elegí detergentes biodegradables (leé el envase antes de comprarlos para reconocerlos).</li>
            <li>No contamines el agua de ríos y mares con restos de sustancias tóxicas (pinturas, solventes, cementos, adhesivos).</li>
            <li>No arrojes envases o desperdicios de comidas, latas, aceites, combustibles o insecticidas cerca de ríos, lagos, lagunas o arroyos.</li>
        </ul>
        
        <h2>Para evitar la deshidratación:</h2>
        <ul>
            <li>Tomá más líquido del habitual (8 vasos de agua segura a diario). Evitá las bebidas azucaradas y el alcohol.</li>
            <li>Llevá una botella de agua siempre con vos, vayas donde vayas.</li>
            <li>No esperes a tener sed para hidratarte.</li>
            <li>Serví agua para acompañar todas las comidas.</li>
            <li>En tu casa, tené siempre disponible una jarra de agua.</li>
            <li>Ofreceles agua frecuentemente a tus hijos y a los adultos mayores .</li>
            <li>
                Una buena opción para hidratarte son los licuados con agua segura e hielo, jugos exprimidos, preferentemente con frutas 
                de estación y sin agregado de azúcar.
            </li>
        </ul>
    </div>
</div>