<div class="container">
    <h1 class="text-center my-5">
        Registro de Prestadores
    </h1>

    <section class="text-justify">
        <h2>
            Inscribirse en el Registro Nacional de Prestadores de Discapacidad
        </h2>
        <div class="row p-3">
            <p>
                Es el Registro público en el que se inscriben los prestadores de servicios de atención y rehabilitación a personas con discapacidad de todo el país.
            </p>
            <p>Se inscriben los prestadores de servicios de atención y rehabilitación a personas con discapacidad de todo el país que hayan sido categorizados o
                recategorizados de conformidad con las normas reglamentarias y complementarias de la Ley Nº 24.901 y, por lo tanto, forman parte del padrón de 
                prestadores a nivel nacional.
            </p>
            <p>
                La Agencia Nacional de Discapacidad tiene a su cargo la inscripción, permanencia y baja de la totalidad de las instituciones inscriptas en el 
                Registro Nacional de Prestadores.
            </p>
        </div>
        
        <h3>
            Lo que tengo que saber sobre el trámite
        </h3>
        <div class="row p-3">
            <p>
                La inscripción al Registro permite a los prestadores formar parte del <strong>Sistema Único de Prestaciones Básicas de Atención Integral a 
                Favor de las Personas con Discapacidad</strong>, facturar sus prestaciones de conformidad con el nomenclador vigente para ellas y celebrar 
                en ese marco contratos con las Obras Sociales Nacionales u otros obligados a financiar las prestaciones (arts. 2º y 7º de la Ley N° 24.901).
            </p>
            <p>
                El Registro no es habilitante, por lo cual los prestadores pueden funcionar regularmente sin estar inscriptos en el mismo.
            </p>
        </div>
            
        <h3>
            Categorización y Recategorización
        </h3>
        <div class="row p-3">
            <p>
                Los trámites relacionados a categorización y recategorización de prestadores de servicios de atención y rehabilitación para personas con 
                discapacidad deben comunicarse a la Junta Evaluadora de Prestadores de Servicios de atención y rehabilitación a personas con discapacidad 
                de la provincia del Chubut.
            </p>
            Datos de Contacto:
            <ul style="list-style: none;">
                <li>
                    <i class="fa fa-envelope icon-primary"></i> <strong>juntacategorizadorach@gmail.com</strong>
                </li>
                <li>
                    <i class="fa fa-mobile icon-primary fa-2x"></i> 2804728964
                </li>
            </ul>
        </div>

        <h3>
            ¿Cuál es el costo del trámite?
        </h3>
        Gratuito
        <div class="row p-3">
            <p>
                Podés realizar la <strong><%= link_to 'Consulta Pública de instituciones categorizadas en el registro de prestadores.', 'https://apps.snr.gob.ar/consultarnp/aplicacion/prestadores/prestadores.html'%></strong>
            </p>
            <div class="my-3">
                Legislación:
                <ul>
                    <li>
                        <strong>Resolución N° 47/2001 - </strong> Apruébanse las normas de categorización de establecimientos y servicios de rehabilitación e incorpóranse las mismas
                        al Programa Nacional de Garantía de Calidad de la Atención Médica.
                    </li>
                    <li>
                        <strong>Resolución 1328/2006 –</strong> Marco básico de organización y funcionamiento de prestaciones a personas con discapacidad y modificatorias.
                    </li>
                    <li>
                        <strong>Resolución 33/2011 –</strong> Resolución del presidente Directorio del sistema de prestaciones básicas de atención integral a favor de las personas con
                        discapacidad.
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>