<div class="col-md-12 mb-4">
  <h1>VIH - Sida: Prevención, Diagnóstico y Tratamiento</h1>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    
    <% if !(action_name === "index") %>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="/vih_its" class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h3 class="mb-0">Volver</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
    <% if !(action_name === "como_se_transmite") %>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="/como_se_transmite" class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h3 class="mb-0">¿Como se transmite?</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
    <% if !(action_name === "como_saber_si_tenes_vih") %>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="/como_saber_si_tenes_vih" class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h3 class="mb-0">¿Como saber si tenés VIH?</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
    <% if !(action_name === "como_es_el_tratamiento") %>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="/como_es_el_tratamiento" class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h3 class="mb-0">¿Como es el tratamiento?</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>
</div>