<div class="container my-5">
	<div class="row">
		<%= render "nav_buttons"%>
		<div class="col-md-12 mb-4">
			<h2>Formas de Transimisión</h2>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="image-item text-center">
				<%= image_tag "preservativos.png"%>
			</div>
			<div>
				<p></p>
				<h3></h3>
				<p> Tener relaciones sexuales anales, vaginales u orales sin preservativo. Responsable del 98% de las infecciones.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="image-item text-center">
				<%= image_tag "jeringa.png"%>
			</div>
			<div>
				<p></p>
				<h3></h3>
				<p> Compartir agujas, jeringas, máquinas de afeitar, alicates, piercings, agujas para tatuar.</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 mb-4">
			<div class="image-item text-center">
				<%= image_tag "embarazo.png"%>
			</div>
			<div>
				<p></p>
				<h3></h3>
				<p> Embarazadas con VIH lo pueden transmitir al bebé durante el embarazo, el parto o la lactancia sin los cuidados necesarios.</p>
			</div>
		</div>
		<div class="offset-md-1 col-md-10 mb-4">
			<div class="alert alert-warning">
				<div class="media">
					<div class="media-left">
						<i class="fa fa fa-exclamation-circle fa-fw fa-4x"></i>
					</div>
					<div class="media-body pt-2">
						<p>Si creés que estuviste expuesto/a al VIH de alguna de estas formas es importante que te hagas el test.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<h2>VIH y Embarazo</h2>
			<ul>
				<li>Si tenés VIH podés evitar que el virus pase a tu hijo/a. Existen tratamientos para seguir durante el embarazo, el parto y después del parto. Recordá que debés continuar usando preservativo en todas tus relaciones sexuales.</li>
				<li>La leche materna puede transmitir el virus, por eso es importante que no le des pecho al bebé y lo lleves a los controles médicos.</li>
				<li>Todos los controles y tratamientos son gratuitos, incluida la leche que podés conseguir en todos los hospitales públicos del país.</li>
			</ul>

			<h2>¿Cómo no se transmite el VIH?</h2>
			<ul>
				<li>El VIH no se transmite por besar, abrazar ni en las relaciones sexuales en las que se usa correctamente el preservativo.</li>
				<li>No se transmite por compartir vasos, cubiertos, el mate, intercambiar ropa, usar el mismo baño, la cama o la pileta.</li>
				<li>No lo transmiten los mosquitos.</li>
				<li>Tampoco el sudor o las lágrimas.</li>
			</ul>
		</div>
		<div class="col-md-12 text-danger py-3 mb-4" style="border: 1px solid;border-radius: 10px;background:#fff1f1;">
			<h2>Usá preservativo siempre</h2>
			<ul class="pb-0">
				<li>Evita la transmisión del VIH</li>
				<li>Es fundamental para no reinfectarte (infectarte con otra cepa del virus), lo que puede llevar a cambiar el esquema de tratamiento.</li>
				<li>Te protege de otras infecciones de transmisión sexual y hepatitis virales.</li>
				<li>Evita embarazos no intencionales.</li>
			</ul>
		</div>
	</div>
</div>
