<div class="container my-5">
	<div class="row">
		<%= render "nav_buttons"%>
		<div class="col-md-12 my-4">		
		<p>Si bien no existe cura, existe un tratamiento llamado “Tratamiento Antirretroviral” que consiste en una combinación de diferentes medicamentos.</p>

		<p>El tratamiento evita la replicación del VIH. No cura la infección, pero evita que el virus se multiplique y afecte tu salud.</p>

		<p>Es CRÓNICO, es decir que una vez que se empieza el tratamiento es necesario tomarlo todos los días, toda la vida.</p>
		</div>
		<div class="offset-md-1 col-md-9 mb-4">
			<div class="alert alert-primary">
				<div class="media">
					<div class="media-left">
						<i class="fa fa fa-exclamation-circle fa-fw fa-4x"></i>
					</div>
					<div class="media-body pt-2">
						<p>Si el tratamiento se mantiene de forma correcta en el tiempo, las personas con VIH tienen una calidad y expectativa de vida similar a quienes no tienen el virus.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 my-4">
		<h2>¿Qué significa que alguien esté “indetectable”?</h2>

		<p>Hoy por hoy los tratamientos existentes permiten disminuir la cantidad de virus en sangre al punto de mantenerlo en forma indetectable, es decir, que los análisis no logran detectarlo.</p>

		<p>Sin embargo, esto no significa que el VIH no esté en el cuerpo: en menor cantidad, el virus sí se encuentra en “reservorios” a partir de los cuales vuelve a replicarse si el tratamiento se suspende (incluso durante pocos días).</p>

		<h2>¿Cómo se transmite el VIH? ¿Puede prevenirse?</h2>

		Vía sexual: por relaciones sexuales, a través del contacto con semen, líquido pre eyaculatorio, fluidos vaginales, sangre.
		</div>
	</div>
</div>
