<div class="container my-5">
	<div class="row">
		<%= render "nav_buttons"%>
		<div class="offset-md-2 col-md-8 my-4">
			<div class="alert alert-warning">
				<div class="media">
					<div class="media-left">
						<i class="fa fa fa-exclamation-circle fa-fw fa-4x"></i>
					</div>
					<div class="media-body pt-2">
						<p>El test de VIH es la única manera de saber si una persona contrajo el virus y se realiza a través de un análisis de sangre.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 mb-4">
			<p>Es <strong>Gratuito</strong> en cualquier espacio de salud pública.</p>
			<p>Es <strong>Voluntario</strong>, por lo que nadie puede ser obligado a hacérselo, incluso se debe firmar un consentimiento informado para poder hacerlo.</p>
			<p>Es <strong>Confidencial</strong>, ya que el equipo de salud que atiende no puede revelar la práctica realizada ni el resultado del diagnóstico (y, a su vez, quien recibe el diagnóstico puede decidir cuándo, cómo y con quién compartirlo, en caso de querer hacerlo).</p>
			<p>Debe ser <strong>Realizado con asesoramiento previo y posterior</strong> por parte del personal de salud. No es requisito presentar documento de identidad, orden médica ni ningún otro tipo </p>
		</div>
		<div class="col-md-12">
			<h2>VIH y Embarazo</h2>
			<ul>
				<li>Si tenés VIH podés evitar que el virus pase a tu hijo/a. Existen tratamientos para seguir durante el embarazo, el parto y después del parto. Recordá que debés continuar usando preservativo en todas tus relaciones sexuales.</li>
				<li>La leche materna puede transmitir el virus, por eso es importante que no le des pecho al bebé y lo lleves a los controles médicos.</li>
				<li>Todos los controles y tratamientos son gratuitos, incluida la leche que podés conseguir en todos los hospitales públicos del país.</li>
			</ul>

			<h2>¿Cómo no se transmite el VIH?</h2>
			<ul>
				<li>El VIH no se transmite por besar, abrazar ni en las relaciones sexuales en las que se usa correctamente el preservativo.</li>
				<li>No se transmite por compartir vasos, cubiertos, el mate, intercambiar ropa, usar el mismo baño, la cama o la pileta.</li>
				<li>No lo transmiten los mosquitos.</li>
				<li>Tampoco el sudor o las lágrimas.</li>
			</ul>
		</div>
		<div class="col-md-12 text-danger py-3 mb-4" style="border: 1px solid;border-radius: 10px;background:#fff1f1;">
			<h2>Usá preservativo siempre</h2>
			<ul class="pb-0">
				<li>Evita la transmisión del VIH</li>
				<li>Es fundamental para no reinfectarte (infectarte con otra cepa del virus), lo que puede llevar a cambiar el esquema de tratamiento.</li>
				<li>Te protege de otras infecciones de transmisión sexual y hepatitis virales.</li>
				<li>Evita embarazos no intencionales.</li>
			</ul>
		</div>
	</div>
</div>
