<div class="container my-5">
    <h1 class="text-center my-5">
        Institucional
    </h1>
    <div class="row text-justify">
        <h2>Misión</h2>
        <p>
            El Ministerio de Salud tiene la misión de liderar la formulación, implementación, evaluación y rectoría de políticas públicas sanitarias, generando 
            redes integradas de salud que permitan brindar servicios de calidad, eficientes y oportunos garantizando el acceso a la salud, cerrando las brechas 
            existentes como un derecho fundamental de todas las personas que habitan la provincia, sobre la base de una atención primaria, centrada en usuarios, 
            usuarias y pacientes, y adaptada a la realidad provincial.
        </p>
    </div>
    <div class="row text-justify">
        <h2>Visión</h2>
        <p>
            Garantizar el acceso a servicios de salud integrales, equitativos, adecuados, de calidad y de carácter universal sostenidos a través de una estructura 
            institucional transparente, innovadora y próxima a la ciudadanía, que contribuya a mantener, mejorar y promover la salud de la población de Chubut, de 
            acuerdo a los más altos estándares establecidos por la Organización Mundial de la Salud y como un derecho humano fundamental.
        </p>
    </div>
</div>