<section id="formulario" class="formulario-section py-5">
  <div class="container">
    <div class="panel-pane pane-texto">
      <div class="pane-content">
        <div class="">
          <div class="row my-2 justify-content-center">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h2 class="text-center">Editar Parte Diario</h2>
              <%= render 'form', covid_situation: @covid_situation %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
