<div class="container">
    <h1 class="text-center my-5">
        Alimentación segura
    </h1>

    <div class="my-5 text-justify px-8">
        <p>
            Durante el verano, con las altas temperaturas, aumentan las probabilidades de padecer deshidratación y algunas enfermedades. Especialmente 
            los bebés, niños, adultos mayores y personas con enfermedades crónicas, son más propensos a sufrir cuadros como intoxicaciones, diarreas y 
            el SUH (Síndrome urémico hemolítico).
        </p>

        <ul>
            <li>
                Usá agua potable para beber, cocinar, lavar platos y utensilios. Si no es potable, hervila entre 2 y 3 minutos, o agregarle 2 gotas 
                de lavandina por cada litro de agua, media hora antes de usarla.
            </li>
            <li>
                Lavá muy bien las frutas y verduras con agua potable, aunque sea para comerlas peladas o cocidas. Guardá los huevos en la heladera 
                y consumirlos preferentemente cocidos.
            </li>
            <li>Cociná bien la carne, especialmente la carne picada, hasta que no quede rosada en su interior.</li>
            <li>Separá los alimentos crudos de los cocidos. No uses la misma tabla de picar o los mismos utensilios, sin lavarlos antes.</li>
            <li>Mantené los baños limpios y la basura lejos de los alimentos y de los niños.</li>
            <li>
                Descongelá los alimentos dentro de la heladera (y no a temperatura ambiente). Nunca vuelvas a congelar un alimento que fue descongelado. 
                Mantené refrigerados los alimentos frescos, sin cortar la cadena de frío.
            </li>
            <li>
                Las manos, siempre limpias. Lavátelas bien con agua y jabón, al regresar de la calle, después de ir al baño, antes y después de cambiar 
                los pañales al bebé, y antes y después de cocinar, entre otras actividades.
            </li>
        </ul>    
        
        <h2>Lavado de manos</h2>
        <h4>El lavado de manos paso a paso:</h4>
        <ol>
            <li>Mojate las manos con agua de red o potabilizada.</li>
            <li>Enjabonate (cualquier jabón sirve para eliminar los gérmenes).</li>
            <li>Frotate muy bien las manos 20 segundos, incluidas las muñecas.</li>
            <li>Enjuagate con abundante agua.</li>
            <li>Secate con una toalla limpia, papel descartable o agitando las manos.</li>
        </ol>

        <h2>¿Cuándo hay que lavarse las manos?</h2>
        <ul>
            <li>Después de ir al baño o de cambiarle los pañales al bebé.</li>
            <li>Antes de comer, y después de manipular basura o desperdicios.</li>
            <li>Antes y después de manipular alimentos y/o amamantar.</li>
            <li>Luego de haber tocado dinero, llaves, pasamanos, animales, etc.</li>
            <li>Al regresar de la calle, el trabajo o la escuela.</li>
        </ul>

        <h3>¡Ayudá a tus hijos también a lavarse las manos!</h3>
    </div>
</div>