<div class="container">
    <h1 class="text-center my-5">
        Protegete del sol y el calor
    </h1>

    <div class="text-justify">

        <h4>
            <strong>
                La exposición excesiva al sol puede producir envejecimiento de la piel, cataratas y cáncer de piel. Por eso:
            </strong>
        </h4>
        
        <ul>
            <li>Evitá la exposición entre las 10 de la mañana y las 4 de la tarde, buscá preferentemente la sombra y permanecé en espacios ventilados.</li>
            <li>Usá protector solar con factor de 30 o más y renovalo cada 2 horas y después de salir del agua.</li>
            <li>
                <strong>Los bebés menores de 1 año no deben recibir el sol directo. Desde los 6 meses en adelante deben usar protector solar (FPS 50 o mayor)</strong>, 
                renovado cada 2 horas y al salir del agua
            </li>
            <li>
                Si vas a realizar actividad física, hacelo en las horas de menos calor, usá ropa holgada, liviana, de colores claros. Cubrite la cabeza con un 
                gorro o un pañuelo. Llevá siempre una botella de agua para mantenerte hidratado. No esperes a tener sed. Tomá abundante agua antes, durante y 
                después del ejercicio.
            </li>
        </ul>

        <p>
            Hay grupos que potencialmente pueden resultar más afectados: las mujeres embarazadas; los bebés y niños pequeños; las personas mayores de 65 años; 
            y quienes padecen enfermedades crónicas como, por ejemplo, afecciones respiratorias o cardíacas, hipertensión arterial, obesidad y/o diabetes.
        </p>
    </div>
        

</div>