<article class="container content_format">
	<div class="row justify-content-md-center">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel-pane pane-texto">
			<div class="pane-content">
				<div class="">
					<h6>Última actualización 28 de Diciembre 2021</h6>
				</div>
			</div>
		</div>
		<div class="panel-pane pane-alerta mb-5">
			<div class="pane-content">
				<div class="alert alert-info" role="alert">
					<div class="media">
						<div class="media-left"> <i class="icono-arg-coronavirus fa-fw fa-4x"></i></div>
					<div class="media-body">
						<div class="margin-0"><p>Con el objetivo de mantener los logros de control y eliminación de enfermedades prevenibles por vacunas, es prioritario que te acerques al vacunatorio más cercano, respetando las medidas vigentes de uso de barbijo, lavado de manos y distanciamiento social, para iniciar y/o completar esquemas.</p></div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-pane pane-texto mb-3">
			<div class="pane-content">
					<div class="">
						<h3>Calendario Nacional de Vacunación</h3>
						<p>Todas las vacunas del Calendario Nacional son obligatorias, gratuitas y se aplican en los vacunatorios, centros de salud y hospitales públicos del país. Nuestro calendario incluye vacunas para todas las etapas de la vida, situaciones especiales o para grupos específicos.</p>
						<div class="alert alert-warning">
							<div class="media">
								<div class="media-left"> <i class="fa fa-exclamation fa-fw fa-4x"></i></div>
								<div class="media-body">
									<h5>Muy importante:</h5>
									<p>Las <a href="/coronavirus/vacuna">vacunas contra COVID-19</a> se pueden coadministrar junto con cualquier otra vacuna, pudiéndose administrar el mismo día o en días diferentes, sin requerir intervalo entre las dosis.</p>
								
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
			<div class="panel-pane pane-atajos mb-5">
				<div class="pane-content">
					<div class="row justify-content-md-center">
						<div class="col-md-6">
							<a href="https://bancos.salud.gob.ar/sites/default/files/2021-12/calendario-nacional-vacunacion-2022.pdf" class="btn btn-success btn-block" target="_blank" rel="noopener noreferrer">Calendario de Vacunación</a>
						</div>
						<div class="col-md-6">
							<a href="https://bancos.salud.gob.ar/sites/default/files/2021-12/plan-de-vacunacion-por-edades-2022.pdf" class="btn btn-success btn-block" target="_blank" rel="noopener noreferrer">Plan de vacunación por edades</a>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-pane pane-texto">
				<div class="pane-content">
					<div class="">
						<h4>¿Por qué es importante estar vacunados?</h4>
						<p>Las vacunas son una de las principales medidas para evitar un conjunto de enfermedades prevenibles que pueden ser graves para nuestra salud.</p><p>Es nuestra responsabilidad y obligación que nos apliquemos las vacunas que corresponden en cada etapa de la vida, para evitar enfermarnos y contagiar a nuestra familia y otras personas.</p>
						<h4>Carnet unificado de vacunación</h4>
						<p>El carnet es un documento muy importante en el que se van registrando todas las vacunas que recibe una persona.</p>
						<p>Cada aplicación debe ser registrada por el personal de salud interviniente en el acto de vacunación, para dejar constancia escrita de la vacuna aplicada, generar el historial de vacunación del individuo y facilitar la identificación de los esquemas incompletos.</p>
						<p>La vacuna contra la fiebre amarilla en contexto de viaje debe ser registrada en el Certificado Internacional de Vacunación. Esta vacuna y su certificado son válidos durante toda la vida.</p>
						<h5>Es Importante que el carnet unificado de vacunas y el certificado internacional</h5>
						<ul>
							<li>Lo guardes en un lugar seguro.</li>
							<li>Guardá una fotocopia o foto de la última versión, por si lo perdés.</li>
							<li>Verificá que el profesional de la salud registre cada vacuna recibida.</li>
						</ul>
					</div>
				</div>
			</div>
		</div> 
	</div>
</article>

