<div class="container my-5">
    <h1 class="text-center my-5">
        Prevención de accidentes
    </h1>

    <div class="text-justify">

        <p>
            En la playa, en la pileta y en la ruta, tomá las medidas necesarias para evitar accidentes.
        </p>
        
        <p>    
            En general y para cualquier excursión, avisá sobre lo que planeás hacer. Si vamos a caminar por zonas alejadas, o salir en bote a pescar, 
            comentemos con alguien nuestro rumbo, la cantidad de personas y el horario de regreso previsto. Puede ser vital para enviar ayuda a tiempo, 
            en caso de necesitarla.
        </p>
        
        <p>
            Llevá de la mano a niños, niñas y personas que necesitan asistencia, al cruzar las calles y en medio de aglomeraciones.
        </p>
        
        <p>
            Para evitar lesiones no intencionales, que pueden resultar muy graves, en la ruta, en el agua y en la playa, es necesario tomar precauciones.
        </p>
        
        <h2>
            Para evitar accidentes viales:
        </h2>
        <ul>
            <li>Usá cinturón de seguridad y, si manejás, nunca tomes alcohol.</li>
            <li>
                Las chicas y los chicos siempre tienen que viajar atrás y deben 
                utilizar siempre un sistema de retención infantil (comúnmente llamado sillita), acorde al vehículo y la edad.
            </li>
            <li>Usá casco para andar en bici, moto, cuatriciclo, etc.</li>
            <li>No circules por la playa en vehículos motorizados.</li>
            <li>
                No permitas que chicos y chicas conduzcan vehículos motorizados en ningún lugar ni circunstancia (aunque no haya otras personas, 
                es muy peligroso para sí mismos).
            </li>
            <li>
                Evitá caminar por la banquina de la ruta. Si fuera imprescindible hacerlo, usá ropa refractaria o fluorescente para ser bien visible, 
                caminando lo más lejos posible de la banda asfáltica y en sentido contrario al tránsito del carril más cercano
            </li>
        </ul>
        
        <h2>
            Para evitar accidentes en el agua:
        </h2>
        <ul>
            <li>Asegurate de que siempre haya una persona mayor de edad y responsable que sepa nadar controlando a los niños y las niñas.</li>
            <li>Evitá que niños, niñas y adolescentes jueguen o se sumerjan en aguas no autorizadas o desconocidas.</li>
            <li>Enseñales a los niños, niñas y adolescentes a nadar y a respetar las señales de peligro.</li>
            <li>Recordá que los y las más pequeños/as pueden ahogarse en poca agua y en pocos minutos.</li>
        </ul>
        
        <h2>Para evitar quemaduras de sol:</h2>
        <ul>
            <li>Usá siempre protector solar, renovándolo con frecuencia según indicaciones del envase. (Ver Cuidados del sol)</li>
        </ul>
        
        <h2>Para prevenir infecciones que se transmiten por el agua:</h2>
        <ul>
            <li>
                Toda pileta para natación o recreo necesita cloro (también la de lona) para que no transmita enfermedades. Se agrega siempre a la noche 
                (cuando ya no se usa), en cantidad adecuada. Asesorate (porque el exceso de cloro también es peligroso).
            </li>
            <li>Evitá tragar agua.</li>
            <li>Nunca te bañes en agua estancada.</li>
            <li>Siempre lavate las manos con agua segura y jabón después de ir al baño.</li>
            <li>
                Para evitar infecciones en los oídos, secátelos bien después del baño. Podés usar una toalla de manera suave y te aconsejamos inclinar 
                la cabeza hacia los lados para que los oídos queden en posición que permita que el agua salga.
            </li>
        </ul>
        
        <h2>
            Si estás en la playa y se desata una tormenta eléctrica:
        </h2>
        <ul>
            <li>Salí del agua.</li>
            <li>Ponete ropa y calzado secos.</li>
            <li>Andate de la playa.</li>
            <li>No te refugies bajo un árbol, un paraguas o una sombrilla.</li>
            <li>Alejate de los objetos metálicos.</li>
        </ul>
    </div>
</div>