<div class="container text-justify">
    <h1 class="text-center my-5">
        Olas de calor
    </h1>

    <div class="px-8">
        <p>
            Una ola de calor se define como un período excesivamente cálido en el cual las temperaturas máximas y mínimas superan, por lo menos durante 3 días 
            consecutivos y en forma simultánea, ciertos valores que dependen de cada localidad.
        </p>
        <hr>
        <p>
            A través del sistema de alertas tempranas por olas de calor y salud del Servicio Meteorológico Nacional se procura anticipar a la población, 
            con la mayor antelación posible, situaciones meteorológicas extremas y sus posibles efectos en la salud. Conocé si en tu localidad hay un 
            alerta por olas de calor, los niveles de alerta y los efectos sobre tu salud.
        </p>
        
        <h2>Conocé si en tu localidad hay un alerta por olas de calor, los niveles de alerta y los efectos sobre tu salud</h2>
        <%= link_to 'Servicio Meteorológico Nacional', 'https://www.smn.gob.ar/sistema_temp_extremas_calor', class:'btn btn-primary my-3', target:'_blank' %> <br>            
        
        <h1 class="my-5">Recomendaciones antes del evento</h1>
        
        <h2>Si hay alerta declarada:</h2>
        
        <p>
            Poné especial atención al tipo de Alerta por Olas de calor y Salud emitida por el Servicio Meteorológico Nacional y buscá la información 
            adecuada para los cuidados necesarios de tu salud y la de tu familia.
        </p>
        <p>
            Con quienes consideres que pueden estar más expuestos por el impacto de la ola de calor tomá algunas precauciones. Es posible que 
            requieran ayuda, por eso es importante que cuentes con los teléfonos de emergencias, si alguna descompensación ocurriera en el hogar 
            y/o en la vía pública. Asegurate de que las mascotas y otros animales tengan agua y sombra.
        </p>
        <h1 class="my-5">Recomendaciones durante el evento</h1>
        <h2>En lugares cerrados (casa, trabajo, otro):</h2>

        <h3>Para evitar un golpe de calor:</h3>
        <ul>
            <li>Hidratate, tomá agua con mayor frecuencia (aun cuando no sientas sed). Procurá siempre consumir agua segura.</li>
            <li>Evitá bebidas con cafeína o con azúcar en exceso, muy frías o muy calientes.</li>
            <li>Incorporá frutas y verduras a tu alimentación y evitá las comidas abundantes.</li>
            <li>Evitá realizar actividad físicaintensa.</li>
        </ul>
            
        <h2>Con los más chicos:</h2>
        <ul>
            <li>
                Evitá esperar a que pidan agua. Ofreceles continuamente líquidos, preferentemente agua o jugos naturales. En el caso de lactantes 
                es recomendable darles el pecho de manera más frecuente.
            </li>
            <li>Procurá que vistan con ropa holgada, liviana, de algodón y de colores claros.</li>
            <li>Bañalos y mojales el cuerpo con frecuencia.</li>
            <li>Evitá que se expongan al sol, especialmente de 10 a 16 horas. En todo momento es recomendable colocarles gorro y protector solar.</li>
            <li>Mantenelos en lugares bien ventilados o con aire acondicionado (ya sea en tu casa o en lugares públicos).</li>
        </ul>
            
        <p>            
            Prestá atención a signos de alerta como: sed intensa y sequedad en la boca, temperatura mayor a 39º C, sudoración excesiva, sensación de 
            calor sofocante, piel seca, agotamiento, mareos o desmayo, dolores de estómago, falta de apetito, náuseas o vómitos, dolores de cabeza, entre otros.
        </p>    

        <p>
            En los bebés, es importante asegurarse de que la piel no se encuentre muy irritada por el sudor en el cuello, pecho, axilas, pliegues del 
            codo y la zona del pañal.
        </p>

        <p>
            <strong>Para el cuidado de tu salud en la vía pública:</strong> es recomendable evitar la exposición directa al sol en los horarios de mayor temperatura 
            (de 10 a 16 horas), en especial de los bebés y niños pequeños. Además, es importante utilizar protección solar, mantenerse hidratado y 
            consumir agua segura con mayor frecuencia (aun cuando no sientas sed). 
        </p>
        
        <h2>Qué hacer con los alimentos y el agua:</h2>

        <h3>Alimentos:</h3>
        <ul>
            <li>
                Mantené en la heladera aquellos alimentos que puedan echarse a perder debido al calor. Verificá la temperatura y control del buen 
                funcionamiento de la heladera.
            </li>
            <li>Arrojá a la basura cualquier alimento que pueda haber perdido la cadena de frío. Observá su olor, color o textura. Si son anormales descartalos.</li>
            <li>Mantené los alimentos que pueden estar fuera de la heladera en lugares limpios y frescos y al resguardo de aberturas, superficies y/o fuentes de calor.</li>
            <li>
                Tirá los alimentos perecederos (incluidos la carne, el pollo, el pescado, los huevos y las sobras) que hayan estado por 2 horas o más fuera del frío. 
                Además, desechá todos los comestibles enlatados cuyos envases estén abiertos, dañados o inflados.
            </li>
        </ul>
            
        <p>
            <strong>Agua:</strong> consumí siempre agua segura y mantenela correctamente envasada (en botellas o bidones limpios y cerrados) en la heladera, en lugares 
            limpios y alejada de fuentes de calor.
        </p>
    </div>
</div>