<div class="container my-5">
    <h1 class="text-center my-5">
        Prevención del síndrome urémico hemolítico y enfermedades diarreicas
    </h1>

    <div class="px-6  text-justify">
        <h2>Síndrome urémico hemolítico (SUH)</h2>

        <p>
            El <strong>síndrome urémico hemolítico</strong> es una enfermedad producida por la bacteria Escherichia coli que afecta principalmente 
            a los niños menores de 5 años.
        </p>

        <p>
            Se manifiesta por una diarrea con sangre. Los niños con esta enfermedad orinan poco, presentan palidez, irritabilidad, y hasta pueden 
            tener convulsiones.
        </p>

        <p><strong>El SUH puede ser grave y dañar los riñones.</strong></p>

        <p>
            Se transmite por consumo de agua o alimentos contaminados con esta bacteria, como carnes de vaca sin cocción completa, especialmente 
            la carne picada, o productos lácteos sin pasteurizar y verduras que se consumen crudas. También se puede adquirir por la falta de higiene 
            en las manos de quien manipula los alimentos.
        </p>

        <h2>
            Si tu hijo presenta los siguientes síntomas, acudí inmediatamente al centro de salud más cercano:
        </h2>
        <ul>
            <li>Diarrea con sangre</li>
            <li>Hace poco pis</li>
            <li>Vómitos</li>
            <li>Palidez</li>
        </ul>

        <h2>
            Enfermedades diarreicas
        </h2>
        <p>
            Los agentes infecciosos causantes de la diarrea son múltiples. La falta de higiene y la ingestión de agua o alimentos contaminados son las 
            vías por las cuales se adquieren enfermedades diarreicas.
        </p>

        <h3>
            Si tu hijo tiene diarrea:
        </h3>
        <ul>
            <li>Consultá al médico o acudí a un centro de salud lo antes posible.</li>
            <li>Ofrecele líquidos abundantes para prevenir la deshidratación.</li>
            <li>En caso de bebés y niños pequeños, no interrumpas la lactancia.</li>
        </ul>

        <h3>
            Consejos para prevenir el SUH y las enfermedades diarreicas
        </h3>
        <ul>
            <li>
                Lavate bien las manos con agua y jabón antes de comer o manipular alimentos; y después de tocar carnes crudas, ir al baño o cambiar pañales. 
                Es muy importante que los chicos también lo hagan.
            </li>
            <li>Cociná las carnes completamente, en especial la carne picada, hasta que no queden partes rojas o rosadas.</li>
            <li>Evitá siempre el contacto de la carne cruda con otros alimentos.</li>
            <li>
                Para cortar alimentos, no uses el mismo cuchillo o superficie (tablas, mesadas) que usaste para cortar carnes crudas sin antes lavarlo 
                bien con agua y detergente.
            </li>
            <li>Lavá cuidadosamente las frutas y verduras crudas.</li>
            <li>Utilizá siempre agua segura para beber, cocinar e higienizarte.</li>
            <li>Dentro de la heladera, guardá el pescado y las carnes crudas en los estantes de abajo y dentro de recipientes cerrados.</li>
            <li>Mantené los alimentos bien tapados y refrigerados.</li>
            <li>
                Alimentá a tus hijos exclusivamente con leche materna durante los primeros 6 meses de vida, y, a partir de esa edad, mantené la lactancia 
                junto con la alimentación complementaria, idealmente hasta los 2 años o más.
            </li>
            <li>Para los mayores de 2 años usá leche en polvo fortificada con hierro, o leche pasteurizada (la que se compra envasada).</li>
            <li>Esterilizá diariamente las mamaderas.</li>
            <li>
                Si el bebé usa chupete (luego de instalada la lactancia), que no esté roto ni tenga partes flojas. Lavalo seguido con agua y jabón; 
                y que el adulto no lo “limpie” con su boca.
            </li>
            <li>El agua de las piscinas y de los piletines de lona o plástico debe ser renovada con frecuencia. El agua de los piletines de lona también debe ser clorada.</li>
        </ul>

        <h2>Lavado de manos</h2>
        <h4>El lavado de manos paso a paso:</h4>
        <ol>
            <li>Mojate las manos con agua de red o potabilizada.</li>
            <li>Enjabonate (cualquier jabón sirve para eliminar los gérmenes).</li>
            <li>Frotate muy bien las manos 20 segundos, incluidas las muñecas.</li>
            <li>Enjuagate con abundante agua.</li>
            <li>Secate con una toalla limpia, papel descartable o agitando las manos.</li>
        </ol>

        <h2>¿Cuándo hay que lavarse las manos?</h2>
        <ul>
            <li>Después de ir al baño o de cambiarle los pañales al bebé.</li>
            <li>Antes de comer, y después de manipular basura o desperdicios.</li>
            <li>Antes y después de manipular alimentos y/o amamantar.</li>
            <li>Luego de haber tocado dinero, llaves, pasamanos, animales, etc.</li>
            <li>Al regresar de la calle, el trabajo o la escuela.</li>
        </ul>

        <h3>¡Ayudá a tus hijos también a lavarse las manos!</h3>
    </div>
</div>