<div class="container">
    <h1 class="text-center my-5">
        Plan Estratégico de Salud 2020 - 2024
    </h1>
    
    <div class="text-justify">
        <p>
            El Plan Estratégico de Salud 2020-2024 tiene como propósito lograr que toda la población de la provincia tenga acceso a servicios de salud integrales, 
            adecuados, oportunos y de calidad en el momento en que se necesitan. 
        </p>
        <p>
            Comprende los ejes estratégicos que abordan distintas temáticas de salud, pudiendo trascender más de un período de gestión política, ya que su 
            objetivo se centra en el impacto positivo sobre la calidad de vida de la población, colaborando con la disminución de las desigualdades sociales y 
            territoriales en el acceso al sistema de salud, consagrando de esta forma uno de los principios más relevantes de los gobiernos democráticos, como lo 
            es la continuidad institucional.
            
        </p>

        <div class="col-md-12 my-5">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <a href="/plan_estrategico_download" target = "_blank"class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="mb-0">Link de Descarga PES 2020 - 2024</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>