<div class="container my-5">
	<h1 class="text-center my-5">Vacunación Covid - 19</h1>
	<p class="text-justify">La Organización Mundial de la Salud (OMS) recomienda la vacunación contra la COVID-19 como una herramienta de prevención primaria fundamental para limitar los efectos sanitarios y económicos devenidos de la pandemia. Como consecuencia, disponer de vacunas eficaces y seguras a corto plazo, que puedan utilizarse en una estrategia nacional, contribuirá a reducir la incidencia de la enfermedad, las hospitalizaciones y las muertes relacionadas con la COVID-19 y ayudará a restablecer de manera gradual una nueva normalidad en el funcionamiento de nuestro país.</p>

	<div class="row justify-content-md-center">
		<div class="col-xs-12 col-sm-6 col-md-6">
			<a href="https://www.argentina.gob.ar/salud/coronavirus-COVID-19/sala-situacion" target = "_blank"class="panel panel-default">
				<div class="panel-body">
					<div class="media">
						<div class="media-body">
							<h3 class="mb-0">Monitor Público <%=fa_icon "pie-chart"%></h3>
						</div>
					</div>
				</div>
			</a>
  		</div>
	  	
		<div class="col-12 text-center">
			<h2>¿Qué vacunas estamos aplicando?</h2>
		</div>
		<div class="col-12">
			<hr>
		</div>

		<div class=" row text-justify">
			<div class="col-6">	
				<h3>Sputnik V</h3>
				<p>
					<strong>Nombre:</strong> ChAdOx1 nCoV- 19 Corona Virus Vaccine (Recombinant) <br>
					<strong>Desarrollador:</strong> Serum Institute - India <br>
					<strong>Autorizado edad (edad):</strong> ≥ 18 años<br>
					<strong>Plataforma:</strong> vector viral no replicativo<br>
					<strong>Contraindicaciones:</strong> hipersensibilidad a cualquier componente.<br>
					<strong>Contraindicaciones para componente 2:</strong> reacción anafiláctica con la primera dosis.<br>
					<strong>Precauciones:</strong>enfermedad febril aguda grave; trombocitopenia y trastornos de la coagulación.<br>
					<strong>Cantidad de dosis:</strong> 2 <br>
					<strong>Autorización o registro de emergencia:</strong> Resolución 2784/2020 del Ministerio de Salud, 24/12/2020<br>
				</p>
			</div>
			<div class="col-6">		
				<h3>AstraZeneca</h3>
				<p>
					<strong>Nombre:</strong> ChAdOx1 nCoV-19 vaccine (AZD1222) <br>
					<strong>Desarrollador:</strong> AstraZeneca-Oxford - Reino Unido <br>
					<strong>Autorizado edad (edad):</strong> ≥ 18 años<br>
					<strong>Plataforma:</strong> vector viral no replicativo<br>
					<strong>Contraindicaciones:</strong> hipersensibilidad a cualquier componente.<br>
					<strong>Contraindicaciones para componente 2:</strong> creacción anafiláctica con la primera dosis.<br>
					<strong>Precauciones:</strong> enfermedad febril aguda grave; trombocitopenia y trastornos de la coagulación.<br>
					<strong>Cantidad de dosis:</strong> 2 <br>
					<strong>Autorización o registro de emergencia:</strong> Resolución 2784/2020 del Ministerio de Salud, 24/12/2020<br>
				</p>
			</div>
			
			<div class="col-12">
				<hr>
			</div>
			<div class="col-6">	
				<h3>Sinopharm</h3>
				<p>
					<strong>Nombre:</strong> SARS COV-2 (células vero) inactivada <br>
					<strong>Desarrollador:</strong> Beijing Institute of Biological Products - República Popular China <br>
					<strong>Autorizado edad (edad):</strong> ≥ 3 años<br>
					<strong>Plataforma:</strong> virus inactivados<br>
					<strong>Contraindicaciones:</strong> hipersensibilidad a cualquier componente; antecedente de reacciones alérgicas graves (con compromiso respiratorio que haya requerido asistencia médica); exacerbación de enfermedades crónicas, que impliquen compromiso del estado general.<br>
					<strong>Contraindicaciones para componente 2:</strong> reacción anafiláctica con la primera dosis.<br>
					<strong>Precauciones:</strong>enfermedad febril aguda grave; trombocitopenia y trastornos de la coagulación; epilepsia no controlada u otro trastorno neurológico progresivo.<br>
					<strong>Cantidad de dosis:</strong> 2 <br>
					<strong>Autorización o registro de emergencia:</strong>Resolución 688/2021 del Ministerio de Salud, 22/02/2021 y NO-2021-93657144-APN-ANMAT#MS<br>
				</p>
			</div>
			<div class="col-6">	
				<h3>Covishield</h3>
				<p>
					<strong>Nombre:</strong> Gam-COVID-Vac <br>
					<strong>Desarrollador:</strong> Centro Nacional Gamaleya de Epidemiología y Microbiología - Rusia <br>
					<strong>Autorizado edad (edad):</strong> ≥ 18 años<br>
					<strong>Plataforma:</strong> vector viral no replicativo<br>
					<strong>Contraindicaciones:</strong> hipersensibilidad a cualquier componente; antecedente de reacciones alérgicas graves o anafilaxia; enfermedades agudas graves o exacerbación de enfermedades crónicas.<br>
					<strong>Contraindicaciones para componente 2:</strong> complicaciones graves posvacunación (shock anafiláctico, reacciones alérgicas generalizadas y graves, síndrome convulsivo, fiebre superior a 40° C, etc.) por la inyección del Componente 1 de la vacuna.<br>
					<strong>Cantidad de dosis:</strong> 2 <br>
					<strong>Autorización o registro de emergencia:</strong> Resolución 627/2020 del Ministerio de Salud, 09/02/2021<br>
				</p>
			</div>
			<div class="col-12">
				<hr>
			</div>
			<div class="col-6">	
				<h3>Moderna</h3>
				<strong>Nombre:</strong> Vacuna mRAN-1273 COVID-19<br>
				<strong>Desarrollador:</strong> Moderna Switzerland GmbH<br>
				<strong>Autorizado edad (edad):</strong> ≥ 12 años<br>
				<strong>Plataforma:</strong> ARN mensajero<br>
				<strong>Contraindicaciones:</strong> Hipersensibilidad a cualquier componente de una vacuna o a una vacuna que contenga componentes similares.<br>
				<strong>Contraindicación para la 2º dosis:</strong> anafilaxia o reacción alérgica grave inmediata a la administración de la primera dosis.<br>
				<strong>Contraindicación temporal:</strong> enfermedades agudas graves (infecciosas y no infecciosas) o exacerbación de enfermedades crónicas, que impliquen compromiso del estado general (ej.asma grave no controlado).<br>
				<strong>Precauciones:</strong> Enfermedad febril aguda grave (con compromiso del estado general ytrombocitopenia y trastornos de la coagulación.<br>
				<strong>Cantidad de dosis:</strong> 2<br>
				<strong>Autorización o registro de emergencia:</strong> Resolución Ministerial 2711/2021<br>
			</div>		
			<div class="col-6">	
				<h3>Convidecia</h3>
				<strong>Nombre:</strong> Ad5-nCoV<br>
				<strong>Desarrollador:</strong> Instituto de Biotecnología de Beijing (Beijing, China) y CanSino Biologics Inc.<br>
				<strong>Autorizado edad (edad):</strong> ≥ 18 años<br>
				<strong>Plataforma:</strong> vector viral no replicante de adenovirus tipo 5 que expresa la glicoproteína Spike (S) del SARS-CoV-2<br>
				<strong>Contraindicaciones:</strong> Hipersensibilidad a cualquier componente de una vacuna o a una vacuna que contenga componentes similares. Antecedente de reacciones alérgicas graves (con compromiso respiratorio que haya requerido asistencia médica). Exacerbación de enfermedades crónicas, que impliquen compromiso del estado general. Personas con epilepsia no controlada y otras enfermedades neurológicas progresivas ó historia de síndrome de Guillain-Barré.<br>		
				<strong>Precauciones:</strong> Enfermedad febril aguda grave o exacerbación de enfermedades crónicas. Trombocitopenia y trastornos de la coagulación.<br>
				<strong>Cantidad de dosis:</strong> 1<br>
				<strong>Autorización o registro de emergencia:</strong> Resolución Ministerial N 1671/2021<br>
			</div>
			<div class="col-12">
				<hr>
			</div>
			<div class="col-6">	
				<h3>Comirnaty</h3>
				<strong>Nombre:</strong> Pfizer-BionTech COVID-19 Vaccine<br>
				<strong>Desarrollador:</strong> Pfizer-BioNTech<br>
				<strong>Autorizado edad (edad):</strong> ≥ 12 años<br>
				<strong>Plataforma:</strong> ARN mensajero<br>
				<strong>Contraindicaciones:</strong> Hipersensibilidad a cualquier componente de una vacuna o a una vacuna que contenga componentes similares.<br>
				<strong>Contraindicación para la 2º dosis:</strong> anafilaxia o reacción alérgica grave inmediata a la administración de la primera dosis.<br>
				<strong>Contraindicación temporal:</strong> enfermedades agudas graves (infecciosas y no infecciosas) o exacerbación de enfermedades crónicas, que impliquen compromiso del estado general (ej. asma grave no controlado).<br>
				<strong>Precauciones:</strong> Enfermedad febril aguda grave. Trombocitopenia y trastornos de la coagulación.<br>
				<strong>Cantidad de dosis:</strong> 2<br>
				<strong>Autorización o registro de emergencia:</strong> Disposición 9210/20<br>
			</div>
		</div>
	</div>
</div>