<div class="container my-5">
	<div class="row ">
		<h1 class="col-md-12">Hantavirus</h1>
		<h2 class="col-md-12">Departamento Provincial de Zooantroponosis</h2>

		<div class="col-sm-12 col-md-12" >
			<div id="carouselHanta" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselHanta" data-slide-to="0" class=""></li>
		    <li data-target="#carouselHanta" data-slide-to="1" class="active"></li>
		    <li data-target="#carouselHanta" data-slide-to="2" class=""></li>
		  </ol>
		  <div class="carousel-inner">
		    <div class="carousel-item">
		      <div class="panel-heading bg-success">
		      	<h3 class="text-white mb-0">Medidas de Prevención en el Hogar.</h3>	
		      </div>
		      <div class="panel-body bg-lighthgray text-left" style="min-height: 600px;">
			      <ul>
			      	<li>Mantener la vivienda limpia para evitar la presencia de roedores, eliminando los elementos en desuso que puedan servir para la nidación de los mismos.</li>
			      	<li>Evitar que los roedores entren o hagan nidos dentro de las casas sellando todas las rendijas de más de 0,5 centímetros de abertura, tanto en el interior como en el exterior.</li>
			      	<li>Colocar las huertas y leñeros lejos del hogar, a no menos de 30 metros del mismo y sobre tarimas de 30 centímetros de alto.</li>
			      	<li>Demalezar y mantener corto del pasto en unos 30 metros alrededor de la vivienda. Antes, se debe desratizar el perímetro de la misma.</li>
			      	<li>Mantener la basura doméstica en envases resistentes a roedores. Si no cuenta con recolección domiciliaria, enterrar la basura diariamente en lugares alejados de la vivienda a por lo menos 30 centímetros de profundidad.</li>
			      	<li>Después de alimentar a los animales domésticos, guardar la comida sobrante fuera del alcance de los roedores en envases herméticos y resistentes.</li>
			      	<li>Evitar recipientes con agua al alcance de los roedores. Proteger las fuentes de abastecimientos de agua.</li>
			     	</ul>
			    </div>
		    </div>
		    <div class="carousel-item active">
		    	<div class="panel-heading bg-warning">
		      	<h3 class="text-white mb-0">Medidas de Prevención para turistas o excursionistas</h3>	
		      </div>
		      <div class="panel-body bg-lighthgray text-left" style="min-height: 600px;">
			      <ul>
			      	<li>Ventilar los albergues o refugios al menos por 30 minutos, abriendo puertas y evntanas que faciliten la ventilación.</li>
			      	<li>No ingresar a lugares poco ventilados y poco iluminados, que pueden ser madrigueras de roedores, cuevas, troncos huecos, matorrales densos.</li>
			      	<li>Acampar en lugares abiertos, despejados y limpios, sin evidencia de roedores, matorrales, acúmulos de madera o desechos que sean aptos para la nidación de roedores.</li>
			      	<li>El agua para bebidoa, asero dental, cocina o lavado dep latos, debe provenir de una fuenta de agua potable o bien someterla a ebullición o cloración.</li>
			      	<li>En los campamentos, la basura debe depositarse en tachos cerrados a prueba de roedores y su disposición final debe realizarse por enterramiento a una distancia no menor a 30 metros del lugar.</li>
			      	<li>las carpas deben contar con piso y cierre hermético.</li>
			      	<li>Solo se reocmienda la recolección de frutos silvestres, leña o actividades similaes en lugaes soleados y aireados.</li>
			     	</ul>
			    </div>
		    </div>
		    <div class="carousel-item">
		      <div class="panel-heading bg-danger">
		      	<h3 class="text-white mb-0">Medidas de Prevención en el ámbito asistencial.</h3>	
		      </div>
		      <div class="panel-body bg-lighthgray text-left" style="min-height: 600px;">
		      	<strong><p>Ante la consulta de cualquier persona febril, idependientemente se recomienda:</p></strong>
			      <ul>
			      	<li>Aislamiento desde su ingreso, los primeros 7 días o hasta que el paciente esté asintomático.</li>
			      	<li>De no tener camas de aislamiento, los pacientes pueden ser hospitalizados en cualquier tipo de salas, resguardando al menos 1 metro de separación entre pacientes y con cortina.</li>
			      	<li>En caso de traslado, el paciente y el personal que realiza el trslado deben usar mascarilla quirúrgica/barbijo/respirador.</li>
			      	<li>Toda la sangre y fluidos corporales deben ser manejados con guantes.</li>
			      	<li>Usar delantal y protección ocular durante los procedimientos en los que hay riesgos de salpicaduras.</li>
			      	<li>Lavar las manos con agua y jabón antes y después de asistir a los pacientes.</li>
			      	<li>no encapuchar las agujas y descartables inmediatamente en envases resistentes; lo mismo con material cortopunzante.</li>
			      	<li>Utilizar medidas habituales y desinfección en el ámbito hospitalario ambulatorio y en los traslados de los pacientes.</li>
			     	</ul>
			    </div>
		    </div>
		  </div>
		  <a class="carousel-control-prev" href="#carouselHanta" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselHanta" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

		<div class="col-4">

		</div>

	</div>
</div>