<div class="jumbotron jumbotron-fluid text-center" style="background-image:url(https://www.canada.ca/en/department-national-defence/maple-leaf/defence/2020/03/message-from-deputy-minister-regarding-covid-19/_jcr_content/par/mwsadaptiveimage/image.img.jpg/1584122979833.jpg);">
  
</div>




