<div class="jumbotron jumbotron-fluid"  style="background-image: url(<%= asset_path 'bg-jumbotron.jpeg' %>);">
  <div class="container text-center">
    <h1 class="text-white">Ministerio de Salud de la Provincia de Chubut</h1>
    <p class="lead text-white">Trabajamos para mejorar la salud de toda la provincia.</p>
  </div>
</div>